In [5]:
import pandas as pd
import psycopg2

In [6]:
# Connect to PostgreSQL

conn = psycopg2.connect(
    host="localhost",
    database="bank_reviews",
    user="admin",
    password="admin123"
)

In [7]:

def run_query(sql):
    return pd.read_sql(sql, conn)

In [9]:
sql = "SELECT * FROM reviews;"

run_query(sql)

C:\Users\hp\AppData\Local\Temp\ipykernel_2016\2428646324.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,review_id,bank_id,review_text,rating,review_date,sentiment_label,sentiment_score,source
0,ba01d6b7-97fe-4376-b68c-817f397c00af,2,I can't access the loan in the app. only it wo...,3.0,2025-11-28,neutral,0.0000,Google Play
1,bde60e8b-0b05-4c88-9f60-c14c18fa57b9,2,no one from all ethiopian bank keep it up nice,5.0,2025-11-28,positive,0.1531,Google Play
2,fae55af8-1c5a-41f5-b6e8-55652afbf303,2,thenk you ‚úçÔ∏èüôè,5.0,2025-11-26,neutral,0.0000,Google Play
3,e35ece9f-a9fb-4510-a9e3-8b8487a99d12,2,i hope to be good app,5.0,2025-11-24,positive,0.7003,Google Play
4,fb9ed669-ea1d-4eb5-a336-634ccc59e265,2,amazing üòçüòç,5.0,2025-11-23,positive,0.5859,Google Play
...,...,...,...,...,...,...,...,...
1195,b3c8405c-96a7-4b5e-884c-76c97c530c34,3,good,5.0,2025-05-09,positive,0.4404,Google Play
1196,e1c1214a-8bc1-45db-bc49-3d51dddc6b88,3,Amazing app super easy to use and best design....,5.0,2025-05-09,positive,0.9623,Google Play
1197,8d1d472b-2bae-4749-b089-5632108ade02,3,its the best ever,5.0,2025-05-09,positive,0.6369,Google Play
1198,749851ed-72d7-4f1c-8e5e-27dd822b5008,3,nice,5.0,2025-05-08,positive,0.4215,Google Play
1199,f2852962-b983-44af-b296-241a3373477f,3,excellent game changer App,5.0,2025-05-08,positive,0.5719,Google Play

In [28]:
# Count reviews per bank

sql = """
SELECT b.bank_name, COUNT(v.review_id) AS total_reviews
FROM banks b
LEFT JOIN reviews v ON b.bank_id = v.bank_id
GROUP BY b.bank_name
ORDER BY total_reviews DESC;
"""

run_query(sql)

C:\Users\hp\AppData\Local\Temp\ipykernel_13592\2428646324.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  total_reviews
0                   Awash Bank            400
1                  Dashen Bank            400
2  Commercial Bank of Ethiopia            400

In [29]:
print(type(conn))

<class 'psycopg2.extensions.connection'>

In [8]:
# Average rating per bank

sql = """
SELECT b.bank_name,
       ROUND(AVG(v.rating)::numeric, 2) AS avg_rating
FROM reviews v
JOIN banks b ON b.bank_id = v.bank_id
GROUP BY b.bank_name
ORDER BY avg_rating DESC;
"""

run_query(sql)

C:\Users\hp\AppData\Local\Temp\ipykernel_13592\2428646324.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  avg_rating
0                   Awash Bank        4.34
1  Commercial Bank of Ethiopia        4.13
2                  Dashen Bank        3.96

In [31]:
run_query("SELECT 1;")

C:\Users\hp\AppData\Local\Temp\ipykernel_13592\2428646324.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

   ?column?
0         1